/*IMPORT Stylesheets*/
@import url('bootstrap.min.css');
@import url('bootstrap-theme.min.css');
@import url('fullpage.css');


/* RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* */



body	{
	color: #fff;
	font-family: Interstate;
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
    line-height: 1.42857143;
    
}

span.wps-logo-back{
	line-height: 0 !important;
}

/* FONT */
h1, h3, p	{
	font-weight: 100;
}

h2	{
	font-weight: 700;
	margin-top: 0.3em;
}

h1, .h1	{font-size: 2.188em; line-height: 1.25em; }
h2		{font-size: 2.313em; line-height: 1.1em;}

h3.postType	{
	margin-bottom: 30px;
}	

p	{
	padding-bottom: 20px;
	line-height: 1.6em; 
}

a, a:hover	{
	color: rgb(188, 195, 1);
}



.phone a	{
	display: block;
}

strong, .strong	{
	font-weight: 700;
}

#unitSection, .unitMenu a 	{
	color: rgb(100, 99, 99);
	text-decoration: none;
}

#unitSection #kontakt, #footer	{
	color: rgb(255, 255, 255);
}

#unitSection h2, #header h1	{
	font-size: 1.688em;
	color: rgb(100, 99, 99);
}

#unitSection p	{
	font-size: 1.125em;
	
}
#unitSection #intro .container > p{
	text-align: left;
}


#unitSection span	{
	
	line-height: 2em;
	color: rgb(100, 99, 99);
}

#header h1	{
	font-weight: 700;
	text-transform: lowercase;
}

#unitSection #footer p	{
	font-size: 14px;
}


/* HEADER */
#header	{
    top: 0px;
    position: fixed;
    height: 80px;
    display: block;
    width: 100%;
    z-index: 9;
    background-color: #fff;
    text-align: center;
    color: #646363;
    padding: 20px 25px 15px;
}



.icon.communication	{
	background: url(icons/icon_communication_darkgray.svg) right center no-repeat;
	background-size: 25px 25px;
}

.icon.picture	{
	background: url(icons/icon_picture_darkgray.svg) right center no-repeat;
	background-size: 25px 25px;
}

.icon.solution	{
	background: url(icons/icon_solution_darkgray.svg) right center no-repeat;
	background-size: 25px 25px;
}

.icon.about	{
	background: url(icons/icon_about_darkgray.svg) right center no-repeat;
	background-size: 25px 25px;
}

/* MENU */
.logo	{
	top: 25px;
    left: 25px;
    position: fixed;
    z-index: 120;
}

.menu {
	background-color: #fff;
}

.desktop	{
	right: 25px;
}

.menuButton { 
	position: fixed; 
	z-index: 150; 
	border-radius: 100%; 
	background: rgb(188, 195, 1); 
	width: 45px; 
	height: 45px; 
	margin: 0 0 0 -17px;
	transition: 0.2s; 
} 



.desktop-menu	{
	position: absolute;
	width: 50vw;
	height: 100vh;
	color: rgb(100, 99, 99);
	z-index: 90;
	right: 0;
	display: none;
}

.mobile-menu	{
	position: absolute;
	width: 100vw;
	height: 100vh;
	color: rgb(100, 99, 99);
	z-index: 90;
	right: 0;
	display: none;
}


.ajaxContent, .ajaxContentContact	{
	position: absolute;
	background-color: rgb(239, 240, 243);
	border-radius: 100%;
	z-index: 100;
	text-align: center;
    table-layout: fixed;
    width: 100%;
	height: 100vh;
	/*left: 0;*/
	border-radius: 0;
	top:0;
	display: none;
}



.ajaxContent.active, ajaxContentContact.active	{
	display: table;
}


.topNav	{
	position: absolute;
	top:25px;
	display: table;
	width: 100%;
	padding: 0 20%;
	z-index: 100;
}

.topNav.active	{
	display: table;
}

.topNav span	{
	display: table-column;
	text-indent: -9999px;
	width: 33%;
    height: 40px;
    float: left;
/* 	transition: 0.2s; */
}

.topNav span.contact, #unitSection span.contact	{
	background: url(icons/icon_contact_green.svg) center center no-repeat;
	background-size: 33px 33px;
}

.topNav span.contact.active, #unitSection span.contact.active, .topNav span.contact:hover, #unitSection span.contact:hover 	{
	background: url(icons/icon_contact_darkgray.svg) center center no-repeat;
	background-size: 33px 33px;
}

.topNav span.location	{
	background: url(icons/icon_location_green.svg) center center no-repeat;
	background-size: 33px 33px;
}

.topNav span.location:hover, .topNav span.location.active	{
	background: url(icons/icon_location_darkgray.svg) center center no-repeat;
	background-size: 33px 33px;
}

.topNav span.phone	{
	background: url(icons/icon_call_green.svg) center center no-repeat;
	background-size: 33px 33px;
}
.topNav span.phone:hover	{
	background: url(icons/icon_call_darkgray.svg) center center no-repeat;
	background-size: 33px 33px;
}

.backTopmenu	{
	position: absolute;
    top: 35px;
	right: 45px;
	display: block;
	width: 10px;
	height: 10px;	
	z-index: 95;
	background: url(icons/icon_back_green.svg) center center no-repeat;
	background-size: 10px 10px;	
	cursor: pointer;
	transition: 0.4s;
/* 	display: none; */
}

.backTopmenu.active	{
	top:105px;
	width: 40px;
	height: 40px;
	right: 35px;
	background-size: 40px 40px;	
}	

.desktop-backTopmenu	{
	position: absolute;
    top: 35px;
	right: 45px;
	display: block;
	width: 10px;
	height: 10px;	
	z-index: 125;
	background: url(icons/icon_back_green.svg) center center no-repeat;
	background-size: 10px 10px;	
	cursor: pointer;
	transition: 0.4s;
/* 	display: none; */
}

.desktop-backTopmenu.active	{
    top: 90px;
    width: 33px;
    height: 33px;
    right: 30px;
    background-size: 33px 33px;
}
	

.backBottommenu	{
	position: fixed;
	bottom: 54px;
    left: 48vw;
	display: block;
	width: 0;
	height: 0;	
	z-index: 95;
	background: url(icons/icon_back_green.svg) center center no-repeat;
	background-size: 10px 10px;	
	cursor: pointer;
	transition: 0.4s;
	z-index: 200;
/* 	display: none; */
}

/*
.backBottommenu.active	{
	bottom: 35px;
	width: 40px;
	height: 40px;
	left: 20vw;
	background-size: 40px 40px;	
}
*/

.unitMenu	{
	display: table;
	text-align: center;
	table-layout: fixed;
	height: 100vh;
}

 .unitMenu span.desktop-communication	{
	background-image: url(icons/icon_communication_lightgray.svg);
}

.unitMenu span.desktop-picture		{
	background-image: url(icons/icon_picture_lightgray.svg);
}

.unitMenu span.desktop-solution	{
	background-image: url(icons/icon_solution_lightgray.svg);
}

.unitMenu span.desktop-about	{
	background-image: url(icons/icon_about_lightgray.svg);
}

.unitMenu span.desktop-about, .unitMenu span.desktop-solution, .unitMenu span.desktop-picture,  .unitMenu span.desktop-communication{
	background-size: 33px 33px;
	background-repeat: no-repeat;
	background-position: 50px;
}




.unitMenu span	{
	display: block;
	font-size: 1.75em;
	line-height: 2.2em;
/*     transition: 0.5s; */
}



.unitMenu nav	{
	display: table-cell;
    vertical-align: middle;
}

.unitMenu nav span	{
	display: block;
}

.unitMenu nav object	{
	margin-bottom: 2em;
}

.mobile-menu .logo	{
	position: absolute;
}

.mobile-menu .logo object	{
	width: 42px;
	height: 20px;
}

.contactForm	{
   	padding: 77px 15px 0;
}

/* SECTIONS */
.section{
	background-size: cover;
	background-position: center center;
	background-color: white;
}

#section0{
	background-image: url(../images/wps_communication.jpg);
}
#section0 .flex-item	{
	background-color: rgba(188, 195, 1, 0.9);
}


#section1{
	background-image: url(../images/wps_picture.jpg);
}
#section1 .flex-item	{
	background-color: rgba(188, 195, 1, 0.9);
}

#section2{
	background-image: url(../images/wps_solution.jpg);
}
#section2 .flex-item	{
	background-color: rgba(188, 195, 1, 0.9);
}

#section3{
	background-image: url(../images/wps_about.jpg);
}
#section3 .flex-item	{
	background-color: rgba(188, 195, 1, 0.9);
}

#section4{
	background-image: url(../images/wps_welcome.jpg);
}
#section4 .flex-item	{
 	background-color: rgba(188, 195, 1, 0.9); 
}


.section.welcome .contentBlock.col-3	{
	bottom: 0;
}

.section.welcome .contentBlock.col-3 p.first	{
	padding-bottom: 30px;
}

.section.welcome .contentBlock.col-3 p	{
	padding-bottom: 20px;
}


.section.welcome .contentBlock.col-3 p.last {
	padding-bottom: 20px;
}


.section.welcome .contentBlock h1{
	font-size: 2.313em;
	line-height: 1.1em;
	font-weight: 700;
	margin-bottom: 20px;
}

.section.welcome .contentBlock h2{
	font-size: 1em;
	line-height: 1.6em;
}	


.unitMenu span.desktop-communication:hover, .menu.communication .unitMenu span.desktop-communication, li.welcomecommunication:hover{
	background-image: url(icons/icon_communication_darkgray.svg) ;
}
.unitMenu span.desktop-picture:hover, .menu.picture .unitMenu span.desktop-picture, li.welcomepicture:hover{
	background-image: url(icons/icon_picture_darkgray.svg) ;
}
.unitMenu span.desktop-solution:hover, .menu.solution .unitMenu span.desktop-solution, li.welcomesolution:hover{
	background-image: url(icons/icon_solution_darkgray.svg) ;
}
.unitMenu span.desktop-about:hover, .menu.about .unitMenu span.desktop-about{
	background-image: url(icons/icon_about_darkgray.svg) ;
}


/* CONTAINERS */
.contentBlock h1	{
	margin-bottom: 2em;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.flex-item {
    width: 48.3vw;
    margin: 15px;
    padding: 10px;
}



.contentBlock	{
	position: absolute;
    bottom: 10vh;
}

/*
.contentBlock p	{
	vertical-align: middle;
}
*/

.ajaxUnitcontent	{
	background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 110;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
}

#unitSection #kontakt	{
	background-color: #eff0f3;
}

#unitSection #footer	{
	background-color: #646363
}

#unitSection .container	{
	max-width: 700px;
    margin: 0 auto;
}

#unitSection .section	{
	padding: 50px 0;
}

.contentCenter	{
	text-align: center;
}

/* FORM */
#unitSection textarea	{
	width: 100%;
	height: 200px;
}

.form-group input	{
	width: 48%;
	margin-top: 15px;
	
}

input#inputName	{
	float: left;
}

input#inputEmail	{
	float: right;
}

.form-group button	{
	margin-top: 40px;
}

.sendButton	{
	background: url(icons/icon_send_green.svg) center center no-repeat;
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
	border: none;
	text-indent: -9999px;
}

/* FOrm CONFIRM*/

.contactForm.confirm	{
	background-color: rgb(100, 99, 99);
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    height: 100vh;
    width: 100vw;


}	

.contactForm.confirm h1	{
 	color: rgb(255, 255, 255);
    margin-bottom: 30px;
}


/* unitSection Page */
#unitSection h2	{
	margin-bottom: 6vh;
}

#unitSection .name	{
	font-weight: 700;
}

#unitSection address span	{
	display: block;
}

#unitSection span.contact	{
	text-indent: -9999px;
	width: 40px;
    height: 40px;
    display: inline-block;
    margin: 6vh 0;
}

#unitSection span object	{
	margin: -1px 10px 0;
    vertical-align: middle;
}

.communication-page address {
    width: 31.5%;
	display: inline-block;
}


/* CONTENT */

.readmore 	{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(icons/readmore-passive.png) no-repeat 0 0;
	background-size: 18px 18px;
	cursor: pointer;
	vertical-align: middle;
	margin-left: 5px;
}

.readmore:hover	{
	background: url(icons/readmore-active.png) no-repeat 0 0;
	background-size: 18px 18px;
}



/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 100%;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #646363;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}


/* Grid system */
.col-12	{width: 100vw}
.col-8	{width: 60vw}
.col-6	{width: 50vw}
.col-4	{width: 32vw}
.col-3	{width: 24vw}
.col-2	{width: 16vw}
.col-1	{width: 8vw}

/* FOOTER */
#footer {
/* 	height: 380px !important; */
}

#footer .fp-tableCell	{
	vertical-align: top;
}

#footer nav	{
	display: table;
	width: 100%;
	padding: 0 10%;
	margin-bottom: 40px;
}


#footer nav span	{
	display: table-column;
	text-indent: -9999px;
	width: 25%;
    height: 40px;
    float: left;
}

#footer nav span.communication	{background-image: url(icons/icon_communication_green.svg);}
#footer nav span.picture		{background-image: url(icons/icon_picture_green.svg);}
#footer nav span.solution		{background-image: url(icons/icon_solution_green.svg);}
#footer nav span.about			{background-image: url(icons/icon_about_green.svg);}

.communication-page #footer nav span.communication{ background-image: url(icons/icon_communication_dg_green.svg); }
.about-page #footer nav span.about{ background-image: url(icons/icon_about_dg_green.svg); }
.picture-page #footer nav span.picture{ background-image: url(icons/icon_picture_dg_green.svg); }
.solution-page #footer nav span.solution{ background-image: url(icons/icon_solution_dg_green.svg); }



#footer nav span.another-page{
	background-repeat: no-repeat;
	background-position: center;
	background-size: 33px 33px;
}





/* ANIMATED NAV */
.navicon-button {
  display: inline-block;
  position: relative;
  padding: 20px 20px;
  transition: 0.25s;
  cursor: pointer;
  user-select: none;
  

}
.navicon-button .navicon:before, .navicon-button .navicon:after {
  transition: 0.25s;
}
.navicon-button:hover {
  transition: 0.5s;
  opacity: 1;
}
.navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
  transition: 0.25s;
}

.open .x.navicon-button	{
/*   padding: 20px 12px; */
}

.x .navicon {
  position: relative;
  width: 6px;
  height: 6px;
  background: #ffffff;
  transition: 0.5s;
  border-radius: 2.5rem;
}
.x .navicon:before, .x .navicon:after {
  display: block;
  content: "";
  height: 6px;
  width: 6px;
  background: #fff;
  position: absolute;
  z-index: -1;
  transition: 0.5s 0.25s;
  border-radius: 1rem;
}
.x .navicon:before {
  top: 0.6rem;
}
.x .navicon:after {
  top: -0.6rem;
}

.open .x .navicon:before, .open .x .navicon:after {
  display: block;
  content: "";
  height: .25rem;
  width: 1.3rem;
  background: #fff;
  position: absolute;
  z-index: -1;
  transition: 0.5s 0.25s;
  border-radius: 0;
}

.open .x:not(.steps) .navicon:before,
.open .x:not(.steps) .navicon:after {
  top: 0 !important;
}

.open .x .navicon:before,
.open .x .navicon:after {
  transition: 0.5s;
}


/* × and + */
.open .plus .navicon,
.open .x .navicon {
  background: transparent;
  left: -8px;
}
.open .plus .navicon:before,
.open .x .navicon:before {
  transform: rotate(-45deg);
}
.open .plus .navicon:after,
.open .x .navicon:after {
  transform: rotate(45deg);
}

.open.plus {
  transform: scale(0.75) rotate(45deg);
}

.center{
	text-align: center !important;
}

.no-bottom-margin{
	margin-bottom: 0 !important;
}



.ajaxContent.active.map{
	display: block !important; 
}

#contact-title{
	height: 50px;
}

.topNav > span, .menuNav > span.menu-links, .menuNav > span > object, .footer-buttons > span, #welcome-contentBlock ul > li, .logo-wps, a.impressum{
	cursor: pointer; 
}


/* MAPS */

#mapoverlay	{
    position: absolute;
    background-color: #fff;
    top: 15px;
    text-align: left;
    padding: 10px;
    width: 32vw;
	left: 15px;
}
    	
#mapoverlay address	{
	padding-top: 20px;
}
    	
#mapoverlay object.iconDirections	{
	float: right;
}
    	
#mapoverlay	a	{
	color: #646363;
}

#mapoverlay object.wps-logo-back	{
	z-index: 1000;
}

pre {
    padding: 1em;
    background-image: url('image/svg+xml');
    background-repeat: no-repeat;
    background-size: cover;
}
#Content pre {
   background: transparent;
}

.bg-grey, .bg-grey h1{
	background-color: #eff0f3 !important;
}




#wps-logo-pre{
	background: transparent;
	margin-bottom: 1em;
}

.unitMenu{
	margin-top: -2em;
}

#mailContact{
	margin-top: 40px;
}

#desktopMenu .unitMenu{
	right:0;
	background-color: white;
	position: absolute;
	height: 100%;
	margin-top: 0;
}

#desktopMenu.thirdlevel-menu .unitMenu{
	/*position: fixed;*/
	z-index: 110;
}

#topNav-desktop{
	display: none;
	padding: 0 10%;
	right:0;
	position: absolute;
    width: 50%;
    z-index: 140;
}

#topNav-desktop.active{
	padding: 0 10%;
	right:0;
	position: absolute;
    width: 50%;
	z-index: 140;
	display: table;
	display: -ms-inline-flexbox;
}

#desktopMenu.thirdlevel-menu{
	z-index: 115;	
}

.overlay{
	z-index: 111;
}

.ajaxContentContact{
	right:0;
	z-index: 120;
}

h3.impressum-titles{
	font-weight: 600;
	font-size: 26px;
	text-transform: lowercase;
	margin-bottom: 20px;
}
 
#desktopMenu.active{
	width: 100%; 
	height: 100%; 
	position: absolute; 
	z-index: 110; 
	background-color: rgba(0, 0, 0, 0.2);
}

@media only screen and ( -webkit-min-device-pixel-ratio: 1.3 ),
       only screen and (    min--moz-device-pixel-ratio: 1.3 ),
       only screen and (      -o-min-device-pixel-ratio: 2.6/2 ), /* returns 1.3, see Dev.Opera */
       only screen and (         min-device-pixel-ratio: 1.3 ),
       only screen and ( min-resolution: 124.8dpi ),
       only screen and ( min-resolution: 1.3dppx ) {

       .readmore {
           background: url(icons/readmore-passive@2x.png) no-repeat top left / 18px 18px;
       }
       
       .readmore:hover {
           background: url(icons/readmore-active@2x.png) no-repeat top left / 18px 18px;
       }

}



@media screen and (min-width : 800px)  {
	.menuButton:hover	{
		background: #646363; 
	
	}
}
@media screen and (min-width : 961px)  {

	
	
	.hidden-md	{
		display: none;
	}
		
	.desktop.menuButton	{
		top: 25px;
		display: block;
	}
	
	.ajaxContent, .menu.desktop-menu{
		overflow: scroll;
		-webkit-overflow-scrolling:touch;
	}
	
	#header h1.icon{
		background: white;
	}
	
	#unitSection{
		margin-top: 20px;
	}
	
	.slideContactForm{
		padding: 200px 100px 0;

	}
	
	.slideContactForm form textarea{
		height: 300px;
	}
	
	.slideContactForm form .form-group{
		margin: 0;
	}
	.slideContactForm form .form-group input{
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		margin-top: 2px;
	}
	.slideContactForm form .form-group input, .contactForm .form-group input, .contactForm .form-group {
    	margin-top: 2px;
    }
    
    .contactForm .form-group input{
	    width: 49.7%;
    }
    
    .ajaxContent.active {
    	height: 100%;
	}
	
	form.contactForm.hidden-xs{
		padding-top: 0;
	}
	
	#desktopMenu .topNav{
		z-index: 125;
	}
	
	#unitSection .section {
    	padding: 150px 0 80px;
    	text-align: left;
	}
	
	
	.bg-white, .bg-white div{
		background-color: white !important;
	}
	
	.unitMenu span.menu-links , #topNav-desktop > span, span.unit > object, #footer nav.footer-buttons > span{
    	background-size: 33px 33px;
	}
		
	
	.logo, .logo object, .logo svg{
		width: 60px !important;
		height: 28px !important;
	}
	
	
	#unitSection span.contact{
/* 		visibility: hidden; */
		display: none;
	}
	
	#unitSection form	{
		margin-top: 6vh;
	}
	
	.title-icon{
		margin: -2px 10px 0;
		vertical-align: middle;
	}
	
	#fp-nav.right { right: 18px; } 
	#fp-nav {bottom: 18px;} 
	
	.section.welcome .contentBlock.col-3	{
		width: 42vw;

	}



	
}

/* Tablet */

@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px) 
	and (orientation: landscape) { 
	
		.desktop.menuButton {top: 44.5vh;} 
		
		.desktop-backTopmenu { 
			top: 44.5vh; 
		} 
		.backTopmenu.hidden-xs{
			display:none;
		}
		
		.section.welcome .contentBlock.col-3 p.first	{
			display:block;
		}
		
		.desktop-backTopmenu.active{
			top: 54vh;
			
		}
		
		.section.welcome .contentBlock.col-3	{
			width: 46.5vw;
			
		}
		
/*
		.section.welcome .contentBlock.col-3 div	{
			width: 33%;
		    float: left;
		    text-align: center;
		}
*/    
}


@media screen /* and (min-width : 721px) */ and (max-width : 960px)  {
	
	.hidden-xs	{
		display: none;
	}
	
	/*grid*/
	.col-3	{width: 46vw}
	.col-6  {width: 100vw}
	
	#header{
		height: 56px;
		padding: 12px 25px;
	}
	
	.mobile.menuButton { 
		bottom: 25px; 
		left: 48.35vw; 
		display: block; 
	}
	
	.backBottommenu.active	{
		bottom: 39px;
		width: 33px;
		height: 33px;
		left: 27vw;
		background-size: 33px 33px;	
	}	
	
	.slideContactForm{
		margin-top: 20%;	
	}
	
	.slideContactForm textarea{
		height: 250px;
	}
	
	.sendButton {
	    width: 50px;
	    height: 50px;
	}
	
	.unitMenu nav object {
    	margin-bottom: 1em;
	}
	
	.form-group input {
    	margin-top: 5px;
    }
    
    .contactForm .form-group input{
	    width: 49.7%;
    }
    
    #unitSection .section {
    	padding-top: 85px;
    	padding-bottom: 50px; 
	}
	form.contactForm{
		display: block;
	}
	
	#unitSection .container {
    	max-width: 530px
    }
    
	#mapoverlay	{
		width: 49vw;
	}	
	
	/* MENU BUTTON */
	.menuButton	{
		width: 60px;
		height: 60px;
	}
	
	.navicon-button {
	  padding: 26px 27px;
	}
	
	.open .x.navicon-button	{
/* 	  padding: 27px 18px; */
	}
	
	.x .navicon {
	  width: .5rem;
	  height: .5rem;
	}
	.x .navicon:before, .x .navicon:after {
	  height: .5rem;
	  width: .5rem;
	  border-radius: 1rem;
	}
	.x .navicon:before {
	  top: 0.9rem;
	}
	.x .navicon:after {
	  top: -0.9rem;
	}
	
	.open .plus .navicon, .open .x .navicon {
    	left: -9px;
	}
	
	.open .x .navicon:before, .open .x .navicon:after {
	  height: .4rem;
	  width: 1.6rem;
	}
	
	.thirdlevel-menu.menu{
		z-index: 120;
	}
	
	#topNav-mobile	{
		position: absolute;
		top:25px;
		display: none;
		width: 100%;
		padding: 0 5%;
		z-index: 125;
	} 

	#topNav-mobile.active	{
		display: table;
	} 
	
	.logo-contact{
		position: static;
		margin-top: 25px;
		margin-left: 25px;
		float:left;
	}
    
    .ajaxContentContact {
    	z-index: 125;
	}
	.mobile-menu{
		z-index: 100;
	}
	
	.communication-page address {
	    width: 100%;
	    padding: 0px 0px 50px 0;
	}

    
}

@media  screen 
	and (min-width: 480px) 
	and (max-width: 960px){ 

	#unitSection span.contact{
		visibility: hidden;	
		display: none;
	}
	
	#unitSection form {
   		margin-top: 6vh;
   		padding-top: 0;
   	}
}


@media  screen 
/* 	and (min-device-width: 480px)  */
	and (max-device-width: 720px) 
	and (orientation: landscape) { 
	
	.contentBlock h2	{
		font-size: 2em;
	}
		
	.contentBlock h1 {
	    margin-bottom: 0;
	    font-size: 1.4em;
	}
	.contentBlock p, 
	.hidden-md	{
		display: none;
	}
	
	.contentBlock .col-3	{width: 46vw}
	.contentBlock .col-6  {width: 100vw}
	
		.mobile.menuButton	{
		left: 91.2vw;
		display: block;
		top: 44.5vh; 
	}
	.unitMenu	{
		margin-top: 0;
	}
	
	.unitMenu nav object {
    	margin-bottom: 0.5em;
	}

	.unitMenu span {
	    display: block;
	    font-size: 1.5em;
	    line-height: 1.7em;
	}
	
	
	.section.welcome .contentBlock.col-3	{
		bottom: 30px;
	}
	
	.section.welcome .contentBlock h1	{
		margin-bottom: 10px;
	}
	
	.section.welcome .contentBlock.col-3 p.first	{
		display: block;
		padding-bottom: 20px;
	}
	
	.section.welcome .contentBlock.col-3 div	{
		width: 33%;
	    float: left;
	    text-align: center;
	} 

}


/*
@media  screen 	
	and (max-device-width: 480px) 
	and (orientation: landscape) { 
	
	.hidden-mobile	{display: none !important;}	
	
		
}		
*/




@media screen and (max-width : 480px)  {
	
	input, textarea {
    	font-size: initial;
	}
	
	
	h1	{font-size: 1.5em; }
	h2	{font-size: 1.668em;}
	
	
	.hidden-mobile	{display: none !important;}
	
	.flex-item {width: 100vw; height: 13em;}
	.col-3 	{width: 100vw}	
	.contentBlock.col-3	{width: 87vw}
	
	#header	{
		text-align: left; 
	}
	
	.topNav	{
		z-index: 5;
	}
	
	.mobile.menuButton	{
		left: 46.7vw;
		display: block;
		bottom: 25px; 
	}
	
	.backBottommenu.active	{
		left: 20vw;
	}
	
	.contentBlock	{
		position: inherit;
		margin-top: 4em;
	}
	
	.contentBlock p	{
		display: none;
	}
	
	#unitSection .container	{
		padding: 25px 25px 0;
	}
	
	.unitMenu nav object { 
    	margin-bottom: 1em;
    	width: 3em;
	}
	
	.unitMenu span	{
		background: none !important;
		font-size: 1.563em;
	}
	
	.contactForm .form-group input	{
		width: 100%;
	    margin-top: 5px;
	}
	
	textarea.form-control	{
		height: 150px; 
	}
	

	
	#kontakt .contentCenter {
		text-align: center;
	}
	
	#kontakt .contentCenter > h2, #kontakt .contentCenter > address{
		text-align: left;
	}
	

	
	#unitSection .contentCenter > h2{
		font-size: 1.5em;
	}
	
	nav.footer-buttons > span, #kontakt span.contact, .mobile-menu nav > span{
		background-size: 33px 33px !important;
	}
	
	.slideContactForm {
    	margin-top: 0;
	}
	
	#unitSection .section {
		padding-top: 30px;
    	padding-bottom: 40px;
	}
	
	#mapoverlay {
	    width: 90%;
	    left: 5%;
	}
	
	textarea.form-control { height: 33vh;} 
	.form-group button { margin-top: 5vh;}  
	
	#unitSection #contact-span{
		font-size: inherit;
	}
	
	#unitSection h2{
		margin: 0;
	}
	
	
	#unitSection .section:first-child{
		padding-top: 80px;
	}
	
	#unitSection .section .container{
		padding-bottom: 0;
		padding-top: 0;
	}
	
	.section.welcome .flex-item	{
		height: 19em;
	}
	
	.section.welcome .contentBlock.col-3 p.first	{
		display: block;
	}
	
	.section.welcome .contentBlock.col-3 div	{
		width: 33%;
	    float: left;
	    text-align: center;
	} 

}
