<div id="header">
	<h1 class="icon about" id="header-title">About <img src="css/icons/icon_about_darkgray.svg" width="33px" height="33px" class="title-icon hidden-xs"/></h1>
</div>

<div id="unitSection" class="about-page">
	<div class="section " id="intro">
		<div class="container">
				<p>Wir sind ein Team von rund 50 Profis, die ihr Fachgebiet von der Pike auf gelernt haben. 
					So betrachten wir Ihre Projekte immer als Ganzes & bieten im eigenen Haus alles an, 
					was Sie für erfolgreiche Produktkommunikation benötigen.</p>

				<p>Bei uns leistet jeder seinen Beitrag, damit wir als starkes Team die täglichen 
					Herausforderungen annehmen & meistern & Sie glücklich machen können.</p>

				<p>Jung ist gut, Erfahrung aber auch. Daher setzt sich unser Team aus einer gesunden 
					Altersstruktur zusammen, die einem frischen Geist mit fundiertem Wissen einen 
					fruchtbaren Boden gibt.
				</p>
				
				
		</div>
	</div>
	<div class="section" id="kontakt">
		<div class="container">
			<div class="contentCenter">
				<h2 class="" id="contact-title"><span id="contact-span">Kontakt</span></h2>
				<address>
<!-- 					<span class="name">Myria Aeschbacher</span> -->
					<span class="phone">
						<a href="tel:+41447493838">
							<object type="image/svg+xml" height="25" width="25" data="css/icons/icon_call_darkgray.svg"></object>
							 +41 44 749 38 38
						</a>
					</span>
					<span class="email">
						<a href="mailto:about@wps.ch">
							<object type="image/svg+xml" height="25" width="25" data="css/icons/icon_mail_darkgray.svg"></object> 
							about@wps.ch
						</a>
					</span>
				</address>

				<span class="contact" id="contact-about">kontakt</span>
			</div>		

			<form data-toggle="validator" role="form" class="contactForm  hidden-mobile" action="mail.php" method="post">
				
				<!-- hidden field for email adress -->
				<input type="hidden" name="sendToEmail" value="about@wps.ch">
				
			    <textarea class="form-control" name="text" rows="3" placeholder="Erzählen Sie uns von Ihrem Projekt oder stellen Sie uns Ihre Fragen."></textarea>
			   	<div class="form-group">
					<input type="text" class="form-control" name="name" id="inputName" placeholder="Name" required>
					<input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email" data-error="that email address is invalid" required>
			  	</div>

			    <div class="form-group center">
				 	<button type="submit" class="sendButton">Submit</button>
  				</div>
			 
			  
			</form>
		</div>
	</div>	
	
	<div class="section fp-auto-height" id="footer">
		<div class="container">
			<div class="contentCenter">
				<nav  class="footer-buttons">
					<a href="#communication" title="Communication"><span class="communication another-page">Communication</span></a>
					<a href="#picture" title="Picture"><span class="picture another-page">Picture</span></a>
					<a href="#solution" title="Solution"><span class="solution another-page">Solution</span></a>
					<a href="#about" title="About"><span class="about another-page">About</span></a>
				</nav>
				<p> 
					<strong>wps medienservice AG <br> Heimstrasse 46 &nbsp;  CH-8953 Dietikon</strong><br />
					<a href="tel:+41447493838">T +41 44 749 38 38 </a>&nbsp;
					<a href="mailto:welcome@wps.ch"> welcome@wps.ch </a>
				</p>
				<p>	
					©2016 wps  &nbsp;  <a class="impressum">Impressum</a>
				</p>
				<br />
				<br />
				<br />	
			</div>	
		</div>
	</div>	

</div>

