<div id="scrollDiv">
<div id="header"  >
	<h1 class="icon communication" id="header-title">Communication <img src="css/icons/icon_communication_darkgray.svg" width="33px" height="33px" class="title-icon hidden-xs"/></h1>
</div>

<div id="unitSection" class="communication-page">
	<div class="section " id="intro">
		<div class="container">
				<p>Wir helfen Ihnen, Ihr Produkt oder Projekt zum Fliegen zu bringen. Denn wps communication deckt alle Belange im Bereich der strategischen Produktkommunikation ab.</p>

<p><strong>creation</strong> erfüllt alle Anforderungen einer klassischen Werbeagentur. Von der Beratung, Kreation, Begleitung & Organisation im Bereich der strategischen Produktkommunikation bis hin zur Entwicklung von interaktiven, multimedialen Cross-Channel-Lösungen.</p>

<p><strong>interactive</strong> kümmert sich um alle digitalen & interaktiven Kommunikationskanäle, damit ihr Unternehmen die Generation Y abholen kann.</p>

<p><strong>production</strong> setzt alle Aufträge zu Print, Bild etc. um – vom Layout über Rendering & Lithografie bis hin zu Korrektorat & Übersetzungen.</p>

		</div>
	</div>
	<div class="section" id="kontakt">
		<div class="container">
			<div class="contentCenter">
				<h2 class="" id="contact-title"><span id="contact-span">Kontakt</span></h2>
				<address class="creation">
					<span class="name">Chris Imfeld</span>
					<span class="phone">
						<a href="tel:+41447493859">
							<object type="image/svg+xml" height="25" width="25" data="css/icons/icon_call_darkgray.svg"></object>
							+41 44 749 38 59
						</a>
					</span>
					<span class="email">
						<a href="mailto:creation@wps.ch">
							<object type="image/svg+xml" height="25" width="25" data="css/icons/icon_mail_darkgray.svg"></object> 
							creation@wps.ch
						</a>
					</span>
				</address>
				<address class="interactive">
					<span class="name">Rogier Leegwater</span>
					<span class="phone">
						<a href="tel:+41447493859">
							<object type="image/svg+xml" height="25" width="25" data="css/icons/icon_call_darkgray.svg"></object>
							+41 44 749 38 59
						</a>
					</span>
					<span class="email">
						<a href="mailto:interactive@wps.ch">
							<object type="image/svg+xml" height="25" width="25" data="css/icons/icon_mail_darkgray.svg"></object> 
							interactive@wps.ch
						</a>
					</span>
				</address>
				<address class="production">
					<span class="name">Daniel Holliger</span>
					<span class="phone">
						<a href="tel:+41447493889">
							<object type="image/svg+xml" height="25" width="25" data="css/icons/icon_call_darkgray.svg"></object>
							+41 44 749 38 89
						</a>
					</span>
					<span class="email">
						<a href="mailto:production@wps.ch">
							<object type="image/svg+xml" height="25" width="25" data="css/icons/icon_mail_darkgray.svg"></object> 
							production@wps.ch
						</a>
					</span>
				</address>

				<span class="contact" id="contact-communication">kontakt</span>
			</div>		

			<form data-toggle="validator" role="form" class="contactForm  hidden-mobile" action="mail.php" method="post">
				
				<!-- hidden field for email adress -->
				<input type="hidden" name="sendToEmail" value="communication@wps.ch">
				
			   	<textarea class="form-control" name="text" rows="3" placeholder="Erzählen Sie uns von Ihrem Projekt oder stellen Sie uns Ihre Fragen."></textarea>
			   	<div class="form-group">
					<input type="text" class="form-control" name="name" id="inputName" placeholder="Name" required>
					<input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email" data-error="that email address is invalid" required>
			  	</div>

			    <div class="form-group center">
				 	<button type="submit" class="sendButton">Submit</button>
  				</div>
			 
			  
			</form>
		</div>
	</div>	
	
	<div class="section fp-auto-height" id="footer">
		<div class="container">
			<div class="contentCenter">
				<nav  class="footer-buttons">
					<a href="#communication" title="Communication"><span class="communication another-page">Communication</span></a>
					<a href="#picture" title="Picture"><span class="picture another-page">Picture</span></a>
					<a href="#solution" title="Solution"><span class="solution another-page">Solution</span></a>
					<a href="#about" title="About"><span class="about another-page">About</span></a>
				</nav>
				<p> 
					<strong>wps medienservice AG <br> Heimstrasse 46 &nbsp; CH-8953 Dietikon</strong><br />
					<a href="tel:+41447493838">T +41 44 749 38 38</a>  &nbsp;
					<a href="mailto:welcome@wps.ch">welcome@wps.ch</a>
				</p>
				<p>	
					©2016 wps &nbsp;   <a class="impressum">Impressum</a> | <a href="AGBs.pdf" target="_blank" title="Download AGB´s">AGB´s</a>
				</p>
				<br />
				<br />
				<br />	
			</div>	
		</div>
	</div>	

</div>

</div>