<script type="text/javascript">
		$(document).ready(function() {
			$(".sendButton").click(function(){
				$(".ajaxContent").load("assets/contactconfirm.html");
				$('.backBottommenu').removeClass('active');
				$('.mobile.menuButton').removeClass('open').addClass('thirdlevel');
    		});
	
    });
    
    var pageName = localStorage.getItem("thirdLevelPage");
    if(pageName=="" || pageName==null || pageName=="null"){
	    pageName = "info";
    }
    
    pageName= pageName+"@wps.ch";
    

	
	
</script>
<div class="logo wps-logo-to-home hidden-md logo-contact">
	<object type="image/svg+xml" height="33" width="71" data="images/wps_gray.svg"></object>
</div>
<div class="contactForm slideContactForm">
	<form data-toggle="validator" role="form" method="post" action="mail.php">
		
		<input type="hidden" name="sendToEmail" value="info@wps.ch" id="sendToEmail">
		
		<textarea class="form-control" name="text" rows="3" placeholder="Erzählen Sie uns von Ihrem Projekt oder stellen Sie uns Ihre Fragen."></textarea>
		<div class="form-group no-bottom-margin">
			<input type="text" class="form-control " name="name" id="inputName" placeholder="Name" required>
		</div>
		<div class="form-group">
			<input type="email" name="email" class="form-control" id="inputEmail" placeholder="E-Mail" data-error="E-Mail address is invalid" required>
		</div>
		<div class="form-group">
		 	<button type="submit" class="sendButton">Submit</button>
	  	</div>
	</form>
	<div id="mailContact"><a href="mailto:welcome@wps.ch"><span class="hidden-xs">welcome@wps.ch</span></a></div>
</div>

<script>
	document.getElementById("sendToEmail").value=pageName;
	//console.log(document.getElementById("sendToEmail").value);
</script>
