<div id="header" id="header-title">
	<h1 class="icon solution" id="header-title">Impressum</h1>
</div>

<div id="unitSection" class="impressum-page">
	<div class="section " id="intro">
		<div class="container">
			<h3 class="impressum-titles">Urheberrechtshinweis</h3>
			<p>Die Inhalte und Programme dieser Website sind urheberrechtlich geschützt. Alle Rechte daran behalten wir uns vor. Teile dieser Website können Bilder, Texte oder Audio beinhalten, die dem Urheberrecht Dritter unterliegen. Die Urheberrechts-Hinweise in diesen Fällen sind an entsprechenden Stellen vermerkt. Informationen auf dieser Website, einschliesslich Texten, Bildern und Audio, dürfen nicht, sofern nicht ausdrücklich anders bestimmt, vervielfältigt, transferiert, vertrieben oder gespeichert werden ohne schriftliche Genehmigung des Herausgebers. Modifikationen des Inhalts dieser Website sind ausdrücklich untersagt. Verstösse gegen diese Bestimmungen werden von uns strafrechtlich verfolgt. </p>
			
			<h3 class="impressum-titles">Externe Links</h3>
			<p>Wir distanzieren uns ausdrücklich von allen Inhalten aller verlinkten Seiten auf unserer Website und machen uns diese Inhalte nicht zu eigen. Diese Erklärung gilt für alle auf dieser Website angebrachten Links.</p>
			
			<h3 class="impressum-titles">Haftungsausschluss</h3>
			<p>Die Informationen auf dieser Website verstehen sich als «Aussagen an sich» ohne implizite Garantien jedweder Art. Die bereitgestellten Informationen auf dieser Website wurden sorgfältig geprüft und werden regelmässig aktualisiert. Jedoch kann keine Garantie dafür übernommen werden, dass alle Angaben zu jeder Zeit vollständig, richtig und in letzter Aktualität dargestellt sind. Dies gilt insbesondere für alle Verbindungen zu anderen Websites, auf die direkt oder indirekt verwiesen wird. Alle Angaben können ohne vorherige Ankündigung ergänzt, entfernt oder geändert werden. Ausserdem liegt es nicht in unserer Verantwortung, Vorsichtsmassnahmen zu ergreifen gegen destruktive Programme oder Programmteile wie Viren, Worms, Trojanische Pferde o. Ä., die auf Webservern liegen, die möglicherweise durch Links von unserer Website aus erreicht werden.  </p>
		</div>
	</div>
	
	
	<div class="section fp-auto-height" id="footer">
		<div class="container">
			<div class="contentCenter">
				<nav class="footer-buttons">
					<a href="#communication" title="Communication"><span class="communication another-page">Communication</span></a>
					<a href="#picture" title="Picture"><span class="picture another-page">Picture</span></a>
					<a href="#solution" title="Solution"><span class="solution another-page">Solution</span></a>
					<a href="#about" title="About"><span class="about another-page">About</span></a>
				</nav>
				<p> 
					<strong>wps medienservice AG <br> Heimstrasse 46  &nbsp; CH-8953 Dietikon</strong><br />
					<a href="tel:+41447493838">	T +41 44 749 38 38 </a>  &nbsp;
					<a href="mailto:welcome@wps.ch"> welcome@wps.ch </a>
				</p>
				<p>	
					©2016 wps  &nbsp;  Impressum
				</p>
				<br />
				<br />
				<br />	
			</div>	
		</div>
	</div>	

</div>

