    <style type="text/css">
/*       html, body { height: 100%; margin: 0; padding: 0; } */
      #map { height: 100%; }
    </style>

<!-- <script language="javascript" src="https://maps.googleapis.com/maps/api/js?v=3"></script> -->
 

  <div id="map"></div>
  

  

  <script type="text/javascript">
    var styles = 
	    [
		  {
		    "featureType": "landscape",
		    "stylers": [
		      { "color": "#eff0f3" }
		    ]
		  },{
		    "featureType": "administrative",
		    "stylers": [
		      { "visibility": "off" }
		    ]
		  },{
		    "featureType": "water",
		    "stylers": [
		      { "color": "#AAAAAA" }
		    ]
		  },{
		    "featureType": "road",
		    "elementType": "geometry",
		    "stylers": [
		      { "color": "#FFFFFF" }
		    ]
		  },{
		    "featureType": "poi",
		    "stylers": [
		      { "color": "#eff0f3" }
		    ]
		  },{
		    "featureType": "road",
		    "elementType": "labels.icon",
		    "stylers": [
		      { "saturation": -100 },
		      { "hue": "#ff0000" },
		      { "visibility": "simplified" }
		    ]
		  },{
		    "featureType": "transit",
		    "stylers": [
		      { "hue": "#ff0000" },
		      { "saturation": -100 },
		      { "visibility": "simplified" }
		    ]
		  },{
		    "elementType": "labels.text.stroke",
		    "stylers": [
		      { "visibility": "off" }
		    ]
		  },{
		    "featureType": "water",
		    "elementType": "labels",
		    "stylers": [
		      { "visibility": "off" }
		    ]
		  }
		];
    
/*
    var map = new google.maps.Map(document.getElementById('map'), {
	    zoom: 16,
	    disableDefaultUI: true,
	    zoomControl: false,
		scaleControl: false,
		scrollwheel: false,
		draggable: false,
		disableDoubleClickZoom: false,
	    center: new google.maps.LatLng(47.4136780,8.4014680),
	    mapTypeId: google.maps.MapTypeId.ROADMAP,
	    styles: styles
    });
*/

/*
	  var image = 'css/icons/icons_marker.svg';
	  var myLatLng = new google.maps.LatLng(47.4136780,8.4014680);
	  var beachMarker = new google.maps.Marker({
	      position: myLatLng,
	      map: map,
	      icon: image
	  });
*/
	  
	  if (navigator.geolocation) { //Checks if browser supports geolocation
		  
		  navigator.geolocation.getCurrentPosition(function (position) {                                                              //This gets the
		     var latitude = position.coords.latitude;                    //users current
		     var longitude = position.coords.longitude;                 //location
		     var coords = new google.maps.LatLng(latitude, longitude); //Creates variable for map coordinates
		     var directionsService = new google.maps.DirectionsService();
		     var directionsDisplay = new google.maps.DirectionsRenderer();
		     var mapOptions = //Sets map options
			     {
			       zoom: 15,  //Sets zoom level (0-21)
			       center: coords, //zoom in on users location
			       mapTypeControl: true, //allows you to select map type eg. map or satellite
			       navigationControlOptions:
			       {
			         style: google.maps.NavigationControlStyle.SMALL //sets map controls size eg. zoom
			       },
			       mapTypeId: google.maps.MapTypeId.ROADMAP, //sets type of map Options:ROADMAP, SATELLITE, HYBRID, TERRIAN
			       styles: styles
			     };
			     map = new google.maps.Map( /*creates Map variable*/ document.getElementById("map"), mapOptions /*Creates a new map using the passed optional parameters in the mapOptions parameter.*/);
			     directionsDisplay.setMap(map);
			     directionsDisplay.setPanel(document.getElementById('panel'));
			     var request = {
			       origin: coords,
			       destination: 'BT42 1FL',
			       travelMode: google.maps.DirectionsTravelMode.DRIVING
			     };
			
			     directionsService.route(request, function (response, status) {
			       if (status == google.maps.DirectionsStatus.OK) {
			         directionsDisplay.setDirections(response);
			       }
			     });
			   });
	 }
	  
	
	
		
		
		
  </script>
