    <style type="text/css">
/*       html, body { height: 100%; margin: 0; padding: 0; } */
      #map { height: 100%; }
      
      #iconDirections{float:right;}
      
    </style>


 
 

  <div id="map"></div>
  
  <div id="mapoverlay">
	  	<img  height="28" width="60" src="images/wps_gray.svg" class="wps-logo-back logo-wps">
	 
	<!-- <div onclick="window.open('https://www.google.ch/maps/place/WPS+medienservice+AG/@47.4134662,8.4013177,15z/data=!4m2!3m1!1s0x0:0x2e5b1024a3b4a73e','_blank');" id="iconDirectionsDiv">
	  	<object   type="image/svg+xml"  data="css/icons/icons_map_directions.svg" class="iconDirections" id="iconDirections"></object>
	  </div> -->
	  
	  <img src="css/icons/icons_map_directions.svg" onclick="window.open('https://www.google.ch/maps/place/WPS+medienservice+AG/@47.4134662,8.4013177,15z/data=!4m2!3m1!1s0x0:0x2e5b1024a3b4a73e','_blank');" height="25" width="25" id="iconDirections" />	  

		  
		<address> <a href="https://www.google.ch/maps/place/WPS+medienservice+AG/@47.4134662,8.4013177,15z/data=!4m2!3m1!1s0x0:0x2e5b1024a3b4a73e" title="Get directions" target="_blank">
		  wps medienservice AG</br>
		  Heimstrasse 46 | CH-8953 Dietikon
		</a></address>
  </div>
  

  <script type="text/javascript">
    var styles = 
	    [
		  {
		    "featureType": "landscape",
		    "stylers": [
		      { "color": "#eff0f3" }
		    ]
		  },{
		    "featureType": "administrative",
		    "stylers": [
		      { "visibility": "off" }
		    ]
		  },{
		    "featureType": "water",
		    "stylers": [
		      { "color": "#AAAAAA" }
		    ]
		  },{
		    "featureType": "road",
		    "elementType": "geometry",
		    "stylers": [
		      { "color": "#FFFFFF" }
		    ]
		  },{
		    "featureType": "poi",
		    "stylers": [
		      { "color": "#eff0f3" }
		    ]
		  },{
		    "featureType": "road",
		    "elementType": "labels.icon",
		    "stylers": [
		      { "saturation": -100 },
		      { "hue": "#ff0000" },
		      { "visibility": "simplified" }
		    ]
		  },{
		    "featureType": "transit",
		    "stylers": [
		      { "hue": "#ff0000" },
		      { "saturation": -100 },
		      { "visibility": "simplified" }
		    ]
		  },{
		    "elementType": "labels.text.stroke",
		    "stylers": [
		      { "visibility": "off" }
		    ]
		  },{
		    "featureType": "water",
		    "elementType": "labels",
		    "stylers": [
		      { "visibility": "off" }
		    ]
		  }
		];
    
    var map = new google.maps.Map(document.getElementById('map'), {
	    zoom: 16,
	    disableDefaultUI: true,
	    zoomControl: false,
		scaleControl: false,
		scrollwheel: true,
		draggable: true,
		disableDoubleClickZoom: true,
	    center: new google.maps.LatLng(47.4136780,8.4014680),
	    mapTypeId: google.maps.MapTypeId.ROADMAP,
	    styles: styles
    });

 	var image = 'css/icons/icons_marker.png';

		
	var myLatLng = new google.maps.LatLng(47.4136780,8.4014680);
	var marker = new google.maps.Marker({
	    position: myLatLng,
	    map: map,
	    icon: image
	});
	  
	google.maps.event.addListener(marker, 'click', function() {
	  	window.open('https://www.google.ch/maps/place/WPS+medienservice+AG/@47.4134662,8.4013177,15z/data=!4m2!3m1!1s0x0:0x2e5b1024a3b4a73e','_blank');
	}); 
	

	

	  
	
	
		
		
		
  </script>
