    <style type="text/css">
/*       html, body { height: 100%; margin: 0; padding: 0; } */
      #map { height: 100%; }
    </style>

<!-- <script language="javascript" src="https://maps.googleapis.com/maps/api/js?v=3"></script> -->
 
 

  <div id="map"></div>
  

  

  <script type="text/javascript">
    var styles = 
	    [
		  {
		    "featureType": "landscape",
		    "stylers": [
		      { "color": "#eff0f3" }
		    ]
		  },{
		    "featureType": "administrative",
		    "stylers": [
		      { "visibility": "off" }
		    ]
		  },{
		    "featureType": "water",
		    "stylers": [
		      { "color": "#AAAAAA" }
		    ]
		  },{
		    "featureType": "road",
		    "elementType": "geometry",
		    "stylers": [
		      { "color": "#FFFFFF" }
		    ]
		  },{
		    "featureType": "poi",
		    "stylers": [
		      { "color": "#eff0f3" }
		    ]
		  },{
		    "featureType": "road",
		    "elementType": "labels.icon",
		    "stylers": [
		      { "saturation": -100 },
		      { "hue": "#ff0000" },
		      { "visibility": "simplified" }
		    ]
		  },{
		    "featureType": "transit",
		    "stylers": [
		      { "hue": "#ff0000" },
		      { "saturation": -100 },
		      { "visibility": "simplified" }
		    ]
		  },{
		    "elementType": "labels.text.stroke",
		    "stylers": [
		      { "visibility": "off" }
		    ]
		  },{
		    "featureType": "water",
		    "elementType": "labels",
		    "stylers": [
		      { "visibility": "off" }
		    ]
		  }
		];
    
    var map = new google.maps.Map(document.getElementById('map'), {
	    zoom: 16,
	    disableDefaultUI: true,
	    zoomControl: false,
		scaleControl: false,
		scrollwheel: false,
		draggable: false,
		disableDoubleClickZoom: false,
	    center: new google.maps.LatLng(47.4136780,8.4014680),
	    mapTypeId: google.maps.MapTypeId.ROADMAP,
	    styles: styles
    });

	  var image = 'css/icons/icons_marker.svg';
	  var myLatLng = new google.maps.LatLng(47.4136780,8.4014680);
	  var beachMarker = new google.maps.Marker({
	      position: myLatLng,
	      map: map,
	      icon: image
	  });
	  
	
	
		
		
		
  </script>
