/* #Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face 

*/


/* #Site Styles -> place your styles
================================================== */
/* schrift formate */
body {
	font-family: 'Interstate-light', 'OpenSans-light', Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:#eff0f3;
}
h1 {
	font-family: 'Interstate-bold', Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:55px;
	line-height:55px;
	color:#636262;
	margin:auto 0 30px 0;
	padding:0;
}

h2 {
	font-size:32px;
	line-height:32px;
	color:#636262;
	
	margin-bottom:25px;
	padding:0;
}

p {
	margin:0 0 10px 0;
	padding:0;
}

.info {
	padding:5px 0;
	margin:20px 0;
	font-size: 90%;
}
.small {
	font-size: 95%;
}
hr {
	margin: 10px 0 10px 0;
}
.info td {
	padding: 3px 10px;
}
table {
	margin-bottom:0;
}
table td:first-child {
	width:120px;
}
.no-border {
	border:none !important;
}
/* #Page Styles
================================================== */
.page-header {
	position:relative;
	margin-bottom:80px;
}
.logo {
	position:absolute;
	left:30px;
	top:30px;
	width:100px;
}

/* #Media Queries
================================================== */

/* #MEDIA QUERIES
================================================== */
/* large screens */ 
@media screen and (min-width:75em) {
	
}

/* ipad landscape */
@media handheld and (max-width:65em), screen and (max-width:65em) {
	
	
}

/* ipad portrait */
@media only screen and (max-width:50em) {
	
}

/* mobile devices landscape - style change for mobile */
@media only screen and (max-width:42em) {
	
}

/* large screens 380 - e.g. mobile devices portrait */
@media only screen and (max-width:28em) {
	h1 {
	 	font-size: 40px;
		line-height: 40px;
	}
	.width-50 {
		margin-left:30px;
		margin-right:30px;
		width:100%;
	}
	.page-header {
		margin-bottom:40px;
	}
	.logo {
		left:30px;
		top:30px;
		width:60px;
	}
	
}


/* #Font-Face
================================================== */

@font-face {
	font-family: 'OpenSans-light';
	src: url('fonts/OpenSans-Light-webfont.eot');
	src: url('fonts/OpenSans-Light-webfont.eot?iefix') format('eot'),
		 url('fonts/OpenSans-Light-webfont.woff') format('woff'),
		 url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
		 url('fonts/OpenSans-Light-webfont.svg#webfontZam02nTh') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-bold';
	src: url('fonts/OpenSans-Bold-webfont.eot');
	src: url('fonts/OpenSans-Bold-webfont.eot?iefix') format('eot'),
		 url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
		 url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
		 url('fonts/OpenSans-Bold-webfont.svg#webfontZam02nTh') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: "Interstate-light";
    src: url("//cloud.webtype.com/webtype/ff2/2/20fc7843-c58f-4918-9c0e-817739757bf2?ec_token=8f7c4c4997246fd7fa920077c9943b569f80c453d3fd475bf089c781ba8bbfe61abe98321dbf67d18edc5cbe1c88f8cafe478388b2ed402d05cc5ec90dfac7d329230944ee4dd8f6062c9f38ab7ba0408cd4dcea0ec0e888031431be98219959e92f4ed211906aae2f0aef1fa9a50fac274a51ab3ebb5a3f4f8f2f");
    src: url("//cloud.webtype.com/webtype/ff2/2/20fc7843-c58f-4918-9c0e-817739757bf2?ec_token=8f7c4c4997246fd7fa920077c9943b569f80c453d3fd475bf089c781ba8bbfe61abe98321dbf67d18edc5cbe1c88f8cafe478388b2ed402d05cc5ec90dfac7d329230944ee4dd8f6062c9f38ab7ba0408cd4dcea0ec0e888031431be98219959e92f4ed211906aae2f0aef1fa9a50fac274a51ab3ebb5a3f4f8f2f#iefix") format("embedded-opentype"),
    url("//cloud.webtype.com/webtype/ff2/3/95c4f6e1-62d2-4bfd-8fbc-34945c0abb6b?ec_token=8f7c4c4997246fd7fa920077c9943b569f80c453d3fd475bf089c781ba8bbfe61abe98321dbf67d18fdc57bb19dfa9c41db0a26eb9e8979fd8c0be605dd04cf843e53ac6e520cd8aecec2883561477a2bb1ddd34acec9cb42204c53cb993c6de53e120e4abb728c8343a684b16f1bc24f35d42c58c15053ff5df8b") format("woff"),
    url("//cloud.webtype.com/webtype/ff2/1/dd653e3b-58f5-4897-9c78-6381dccaec23?ec_token=8f7c4c4997246fd7fa920077c9943b569f80c453d3fd475bf089c781ba8bbfe61abe98321dbf67d18ddc0aea4cdefc97723e493fd22a9221b9d104931898f5f526d3281d6095fb41f4d025f191070273d19b48b12860b88f0f8ccef7d9aaaad21b98b1b2afc0d784f4416714f192f83246473e625d184d6ff88e0f") format("truetype"),
    url("//cloud.webtype.com/webtype/ff2/4/43d22b4c-db38-4db3-9c3a-c4a4241f32d2?ec_token=8f7c4c4997246fd7fa920077c9943b569f80c453d3fd475bf089c781ba8bbfe61abe98321dbf67d188dc5abd1ed9fd9092654f9f62b4d3db7d4d061ccf05d194500e79f167e7c9ade27c83ccbe1123ee3fda5b4bd108979ad8b6eaddc2be1ca8da678b6e61938ae75a5abd06184ac2750125d3046a22e1877fe0e5#web") format("svg");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Interstate-bold";
    src: url("//cloud.webtype.com/webtype/ff2/2/18c9b089-7759-4169-9a0f-bd0ea50421f1?ec_token=8f7c4c4997246fd7fa920077c9943b569f80c453d3fd475bf089c781ba8bbfe61abe98321dbf67d18edc5fb619d2adc23906e8f581d538ece0383754debb7f6e0bc90737c80d9d585da74ac1c6f66e86b30cd90ecad8a9d67b3d250ace204240a1baa5251baa1ae45bdedb85f1f60b387bc453afaf8e64ecf913db");
    src: url("//cloud.webtype.com/webtype/ff2/2/18c9b089-7759-4169-9a0f-bd0ea50421f1?ec_token=8f7c4c4997246fd7fa920077c9943b569f80c453d3fd475bf089c781ba8bbfe61abe98321dbf67d18edc5fb619d2adc23906e8f581d538ece0383754debb7f6e0bc90737c80d9d585da74ac1c6f66e86b30cd90ecad8a9d67b3d250ace204240a1baa5251baa1ae45bdedb85f1f60b387bc453afaf8e64ecf913db#iefix") format("embedded-opentype"),
    url("//cloud.webtype.com/webtype/ff2/3/4067194c-4e1e-49dc-8f56-5e24b38293c6?ec_token=8f7c4c4997246fd7fa920077c9943b569f80c453d3fd475bf089c781ba8bbfe61abe98321dbf67d18fdc5abe4cdcfecb54a87cfe44b0399a628e5dc5758c7c85fe426e448151bb54c9c1590b23768d5ee27c10d36f69b80f958a18f432e98390b694489c17ffa1437816f0a7c45ef8f6c7a9a6b27fa8dec03c7aac") format("woff"),
    url("//cloud.webtype.com/webtype/ff2/1/0275555a-c834-4345-896b-13459b12ae71?ec_token=8f7c4c4997246fd7fa920077c9943b569f80c453d3fd475bf089c781ba8bbfe61abe98321dbf67d18ddc5ebc4ddefac7779161b05ed7f5d1151daed0b8c160fe7ef575fe571556dbb7e24a733e2165229fca3f9cd51df9565c42813cdc0fe0ba32bc6ca0e1d72a7f86b8523116160b4369daaabab2f96559e5ac58") format("truetype"),
    url("//cloud.webtype.com/webtype/ff2/4/0c63340c-fe90-4ea2-8586-e558a1d6908a?ec_token=8f7c4c4997246fd7fa920077c9943b569f80c453d3fd475bf089c781ba8bbfe61abe98321dbf67d188dc5eed4cd8fcc69cddf1faa8ddbc7f0f8e57970c3fb71d80cc08c12423672f4ef41fd810d8427161e23a564fa16ab8ebb7ea51a94d43571c29a2ae9f3fb111a9ba5bcc40fa04c78fce0fcb33f1971b63c5d8#web") format("svg");
    font-style: normal;
    font-weight: 700;
}

