/* NEEDS CSS
==================================================

	* format17 base CSS V1.0 || 2014-07-20
	
	* Copyright 2014
	* mathias Kälin
	* www.format17.ch
	
	* free to use
	
	* made with passion


/* WHATS IN
==================================================
	#Reset & Basics
	#Basic Styles
.	#Typography
	#Links
	#Lists
	#Images
	#Table
	#Forms
	#Buttons
	#TOOLTIP
	#MISC AND HELPERS
	#WARNING AND COLORS
	#DIMENSIONS AND POSITIONS
	#CLEARFIX
	#BROWSER ELEMENTS (Placeholder, Selection, Scrollbar)
	#NAVIGATION
	#MOBILE NAVIGATION
	#BROWSER WARNING
	#THE GRID
	#PRINT */

/*
	
	footer sticki class
	


/* #SETTINGS AND COLORS
==================================================
	
	colors:
	
		black			030,030,030
		black-light	080,080,080
		
		gray			180,180,180
		gray-dark		130,130,130
		gray-light		230,230,230
		
		blue			055,100,140
		
		red				245,055,000
		green			080,190,060
		orange			245,145,000
		yellow			245,200,030
*/


/* #RESETS AND BASICS
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		font-size:100%;
		font:inherit;
		margin:0;
		padding:0;
		border:0;
		vertical-align:baseline;
		background:transparent;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
		display:block;
	}
	audio, canvas, progress, video {
		display:inline-block;
		vertical-align:baseline;
	}
	audio:not([controls]) {
		display:none;
		height:0;
	}
	svg:not(:root) {
		overflow:hidden;
	}


/* #BASIC STYLES
================================================== */
	html {
		-ms-text-size-adjust:100%;
		-webkit-text-size-adjust:100%;
	}
	body {
		-webkit-font-smoothing:antialiased;
		-webkit-text-size-adjust:100%;
		overflow-x:hidden;
	}
	.body-wrapper {
		position:relative;
		min-height:100%; 
		overflow:hidden;
		z-index:1;
	}
	.page-header {
		min-height:80px;
		margin-bottom:20px;
	}
	.page-header:after {
		content:".";
		visibility:hidden;
		display:block;
		height:0;
		clear:both;
	}
	.page-wrapper {
		padding:0;
		margin:0 auto;
	}
	.page-footer {
		background:rgb(230,230,230);
		padding:15px 0 0 0;
	}
	html.with-sticky-footer,
	html.with-sticky-footer body {
		position:relative;
		height:100%;
	}
	.page-footer.footer-sticky {
		width:100%;
		position:absolute;
		bottom:0;
	}

		/* BODY BOXED STYLE */
		body.page-boxed {
		}
		.page-boxed .page-footer,
		.page-boxed .page-wrapper {
			max-width:1040px;
			padding-top:25px;
			margin:40px auto 0 auto;
		}
		.page-boxed .page-wrapper {
			-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
			box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
		}
		.page-boxed .page-footer {
		}


/* #TYPOGRAPHY
================================================== */
	body {
		font-family:'Open Sans', "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
		font-size:14px;
		line-height:21px;
		color:rgb(030,030,030);
	}
	p, ul, ol, dl, blockquote, hr, pre, figure, address, table {
		margin-bottom:20px;
	}

/* head tags */
	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6, .title {
		font-family:inherit;
		font-weight:100;
		line-height:1.15;
		color:inherit;
		text-rendering:optimizeLegibility;
	}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .title a {
		font-weight:inherit;
	}
	h1, .h1 {
	  font-size:36px;
	  margin-top:20px;
	  margin-bottom:10px;
	}
	h2, .h2 {
	  font-size:30px;
	  margin-top:20px;
	  margin-bottom:10px;
	}
	h3, .h3 {
	  font-size:24px;
	  margin-top:20px;
	  margin-bottom:10px;
	}
	h4, .h4 {
	  font-size:18px;
	  margin-top:10px;
	  margin-bottom:10px;
	}
	h5, .h5 {
	  font-size:14px;
	  margin-top:10px;
	  margin-bottom:10px;
	}
	h6, .h6 {
	  font-size:12px;
	  margin-top:10px;
	  margin-bottom:10px;
	}
	h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child { 
		margin-top:0;
	}
	hgroup h1:first-child, hgroup h2:first-child, hgroup h3:first-child, hgroup h4:first-child, hgroup h5:first-child {
		margin-bottom:0;
	}

/* font tags */
	p {
	}

/* text styles */
	.lead {
		font-size:150%;
		line-height:150%;
		margin-bottom:40px;
	}
	.text-left {
		text-align:left;
	}
	.text-right {
		text-align:right;
	}
	.text-center {
		text-align:center;
	}
	.text-justify {
		text-align:justify;
	}
	.text-muted, .muted {
	  color:rgb(130,130,130);
	}

/* font tags */
	em, i {
		font-style:italic;
	}
	strong, b {
		font-weight:bold;
	}
	small, .small {
		font-size:80%;
	}
	sub, sup {
		font-size:75%;
		line-height:0;
		vertical-align:baseline;
		position:relative;
	}
	sup {
		top:-0.5em;
	}
	sub {
		bottom:-0.25em;
	}
	figcaption {
		font-size:12px;
		font-style:italic;
	}

/* code-formated tags */
	code, kbd, pre, samp {
		font-family:Menlo, Monaco, Consolas, 'Cuourier New', monospace;
		font-size:90%;
		line-height:170%;
		background:rgb(230,230,230);
		
		-webkit-border-radius:3px;
		border-radius:3px;
	}
	pre {
		font-size:90%;
		padding:1.6em;
		overflow:auto;
	}
	code {
		padding:3px 3px 1px 3px;
		display:inline-block;
		border:1px solid rgb(130,130,130);
	}
	pre code {
		font-size:100%;
		border:none;
		padding:0;
		background:none;
	}
	kbd {
		padding:0.2em 0.5em;
		display:inline-block;
		border:1px solid rgb(210,210,210);
	}
	
/*	blockquotes  */
	blockquote, blockquote p {
		font-size:17px;
		line-height:24px;
		color:rgb(180,180,180);
		font-style:italic;
	}
	blockquote {
		margin:0 0 20px 0;
		padding:9px 20px;
		border:none;
		border-left:1px solid rgb(180,180,180);
	}
	blockquote, q {
		quotes:none;
	}
	blockquote:before, blockquote:after, q:before, q:after {
		content:'';
		content:none;
	}
	blockquote cite, cite, .cite {
		display:block;
		font-size:12px;
		color:rgb(130,130,130);
	}
	blockquote cite:before, cite:before, .cite:before {
		content:"\2014 \0020";
	}

/* horizontal lines */
	hr {
		border:solid rgb(180,180,180);
		border-width:1px 0 0 0;
		clear:both;
		margin:10px 0 30px 0;
		height:0;
	}


/* #LINKS
================================================== */
	a:link, a:visited, a:hover, a:active {
		text-decoration:none;
		outline:none;
		outline:0;
		background:transparent;
	}
	a:link, a:visited {
		color:#bcc301;
	}
	a:hover {
		cursor:pointer;
	}
	a:hover, a:focus {
		color:#bcc301;
	}
	a:focus {
	  outline:thin dotted #bcc301;
	  outline-offset:-3px;
	}
	p a, p a:visited {
		line-height:none;
	}
	a img {
		outline:none;
		border:none;
	}


/* #LISTS
================================================== */
	ul, ol {
		margin-left:30px;
		margin-bottom:20px;
	}
	ul {
		list-style:disc outside;
	}
	ol {
		list-style:decimal;
	}
	ol, ul.list-square, ul.list-circle, ul.list-disc {
		margin-left:30px;
	}
	ul ul, ul ol, ol ol, ol ul {
		margin:4px 0 5px 30px;
	}
	ul ul li, ul ol li, ol ol li, ol ul li {
	}
	li {
		margin-top:6px;
		margin-bottom:6px;
	}

/* list styles */
	ul.list-square {
		list-style:square outside;
	}
	ul.list-circle {
		list-style:circle outside;
	}
	ul.list-disc {
		list-style:disc outside;
	}
	ul.no-list {
		list-style:none;
		margin:0;
	}
	.list-inline {
		padding-left:0;
		margin-left:-5px;
		list-style:none;
		margin-bottom:0;
	}
	.list-inline > li {
		display:inline-block;
		padding-right:5px;
		padding-left:5px;
		margin:0;
	}
	.list-table-container, .list-table, .list-table-element {
	}
	.list-table-container {
		width:100%;
		display:table;
	}
	.list-table-container ul.list-table {
		display:table-row;
	}
	.list-table-container ul.list-table>li {
		float:none !important;
		display:table-cell;
		text-align:center;
	}


/* #IMAGES
================================================== */
	img {
		max-width:100%;
		height:auto;
		vertical-align:middle;
		outline:none;
	}
	p img {
		margin:0;
	}
	a img, th img, td img {
		vertical-align:top;
	}

/* image Styles */
	.img-thumbnail {
		display:inline-block;
		max-width:100%;
		height:auto;
		padding:4px;
		line-height:1.42857143;
		background-color:rgb(255,255,255);
		border:1px solid rgb(230,230,230);
		
		-webkit-border-radius:4px;
		border-radius:4px;
	}
	.img-rounded {
		-webkit-border-radius:6px;
		border-radius:6px;
	}
	.img-circle {
		-webkit-border-radius:50%;
		border-radius:50%;
	}


/* #TABLE
================================================== */
	table {
		width:100%;
		border-collapse:collapse;
		border-spacing:0;
		margin-bottom:20px;
	}
	tr {
	}
	th, td {
		text-align:left;
		vertical-align:top;
		border:none;
		border-bottom:1px solid rgb(230,230,230);
		padding:8px 10px;
	}
	thead th, thead td {
		font-weight:bold;
		vertical-align:bottom;
	}
	tfoot th, tfoot td {
		font-size:75%;
		padding:4px 10px;
		color:rgb(130,130,130);
	}
	table caption {
		text-transform:uppercase;
		padding:0 1em;
		font-size:12px;
	}
	
/* table styles */
	table.table-border td,
	table.table-border th {
		border:1px solid rgb(230,230,230);
	}
	table.table-simple td,
	table.table-simple th {
		border:none;
		padding-left:0;
	}
	table.table-small td,
	table.table-small th {
		border:none;
		padding:0;
	}
	table.table-striped tbody tr:nth-child(odd) td {
		background-color:rgb(230,230,230);
	}
	table.table-hovered tbody tr:hover td {
		background-color:rgb(230,230,230);
	}

/* Responsive Tables */
	.table-container {
		width:100%;
		overflow:auto;
	}
	.table-responsive {
	}
	.table-container table {
		margin-bottom:1px;
	}
	.table-container::-webkit-scrollbar {
		-webkit-appearance:none;
		width:8px;
		height:8px;
	}
	.table-container::-webkit-scrollbar-thumb {
		background:rgba(0,0,0,0.3);
		border-radius:5px;
		-webkit-transition:background 0.2s ease; /*hopfully, it works soon :) */
	}
	.table-container::-webkit-scrollbar-thumb:hover{
		background:rgb(55,100,140);
	}


/* #FORMS
================================================== */
	form {
		margin-bottom:20px;
	}
	fieldset {
		margin-bottom:20px;
		border:1px solid rgb(230,230,230);
		padding:10px 20px 0 20px;
		
		-webkit-border-radius:5px;
		border-radius:5px;
	}
		fieldset legend {
			padding:0 10px;
			margin-left:-10px;
		}
		fieldset input, fieldset textarea, input select {
			width:100% !important;
		}
	input, button, select, textarea, .button {
		font-family:inherit;
		font-size:inherit;
		line-height:inherit;
		color:rgb(130,130,130);
	}
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="phone"],
	input[type="tel"],
	input[type="number"],
	input[type="datetime"],
	input[type="date"],
	input[type="search"],
	input[type=checkbox],
	input[type=radio],
	input[type="datetime-local"],
	select[multiple="multiple"],
	textarea, 
	select {
		display:block;
		border:1px solid rgb(230,230,230);
		outline:none;
		
		padding:8px 4px;
		margin:0;
		margin-bottom:20px;
		width:210px;
		
		-webkit-appearance:none;
		-moz-appearance:none;
		
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="phone"]:focus,
	input[type="tel"]:focus,
	input[type="number"]:focus,
	input[type="datetime"]:focus,
	input[type="date"]:focus,
	input[type="search"]:focus,
	input[type="datetime-local"]:focus,
	select[multiple="multiple"]:focus,
	textarea:focus,
	select:focus {
	}
	
/* number */
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		height:auto;
	}

/* textarea */
	textarea {
		min-height:160px;
	}
	
/* checkboxes radio */
	input[type=checkbox],
	input[type=radio] {
		position:absolute; 
		overflow:hidden; 
		clip:rect(0 0 0 0); 
		height:1px; 
		width:1px; 
		margin:-1px; 
		padding:0;
		border:0;
	}
	input[type=checkbox] + label,
	input[type=radio] + label {
		display:block;
		padding-left:20px;
		vertical-align:middle;
		cursor:pointer;
		background-repeat:no-repeat;
		background-position:0 3px;
		
		background-size:15px 15px;
	}
		input[type=checkbox] + label {
			background-image:url(need_icon/checkbox.svg);
		}
		input[type=checkbox]:checked + label {
			background-image:url(need_icon/checkbox_checked.svg);
		}
		input[type=radio] + label {
			background-image:url(need_icon/radio.svg); 
		}
		input[type=radio]:checked + label {
			background-image:url(need_icon/radio_checked.svg);
		}
		
		.ie input[type=checkbox] + label {
			background-image:url(need_icon/checkbox.png);
		}
		.ie input[type=checkbox]:checked + label {
			background-image:url(need_icon/checkbox_checked.png);
		}
		.ie input[type=radio] + label {
			background-image:url(need_icon/radio.png); 
		}
		.ie input[type=radio]:checked + label {
			background-image:url(need_icon/radio_checked.png);
		}

/* select */
	select {
		-webkit-appearance:none;
		-moz-appearance:none;
		text-indent:0.01px;
		text-overflow:"";
		
		background:url(need_icon/select_arrow.svg) no-repeat right center;
		background-size:30px 15px;
	}
	.ie select {
		background-image:url(need_icon/select_arrow.png);
	}
		select:hover, select:active {
			border-color:rgb(55,100,140);
			color:rgb(55,100,140);
			background-image:url(need_icon/select_arrow_active.svg);
		}
		.ie select:hover, .ie select:active {
			background-image:url(need_icon/select_arrow_active.png);
		}
		select::-ms-expand {
			display: none;
		}

/* range slider */
	input[type='range'] {
		-webkit-appearance:none;
		-moz-appearance:none;
		border-radius:1px;
		box-shadow:none;
		vertical-align:middle;
		margin:0;
		margin-top:1em;
		margin-bottom:20px;
		outline:none;
		height:1px;
		background:rgb(230,230,230);
	}
	.ie input[type='range'] {
		height:auto;
		background:none;
	}
		
		input[type='range']::-moz-range-track {
			-moz-appearance:none;
			box-shadow:none;
			border:none;
			background-color:rgb(30,30,30);
			height:1px;
			vertical-align:middle;
			outline:none;
		}
		input[type='range']::-webkit-slider-thumb {
			-webkit-appearance:none;
			height:12px;
			width:12px;
			background-color:rgb(055,100,140);
			box-shadow:none;
			border:none;
			-webkit-border-radius:6px;
			border-radius:6px;
		}
		input[type='range']::-moz-range-thumb {
			-moz-appearance:none;
			height:12px;
			width:12px;
			background-color:rgb(055,100,140);
			box-shadow:none;
			border:none;
			border-radius:6px;
		}
		input[type='range']::-ms-fill-lower {
			background: rgb(130,130,130);
		}
		input[type='range']::-ms-fill-upper {
			background: rgb(230,230,230);
		}
		input[type='range']::-ms-thumb {
			background:rgb(055,100,140);
			border:none;
			border-radius:6px;
		}
		input[type='range']::-ms-track {
			border:none;
			color: transparent; 
		}
		input[type='range']::-ms-ticks {
			background:red;
		}
		
/* fileupload file upload */
	input[type="file"] {
		-webkit-appearance:none;
 		-moz-appearance:none;
 		white-space:nowrap;
		cursor:default;
		-moz-binding:none;
		width:auto;
	}
	/* fake file upload container */
	.file-upload-container {
		padding:0;
		margin-bottom:20px;
	}
	.file-upload-container>.button {
		float:left;
		margin:0;
		-webkit-border-radius:3px 0 0 3px;
		border-radius:3px 0 0 3px;
		border:1px solid rgb(055,100,140);
		border-right:none;
		width:30%;
	}
	.file-upload-container>input[type="text"] {
		float:left;
		margin:0;
		padding-left:10px;
		border-collapse:collapse;
		-webkit-border-radius:0 3px 3px 0;
		border-radius:0 3px 3px 0;
		border-left:none;
		width:70% !important;
		min-width:70% !important;
	}
	.file-upload-container>input[type="file"] {
		visibility:hidden;	
		width:1px;
		height:1px;
		margin-left:-1px;
	}
	
/* search input */	
	input[type="search"] {
		padding-left:30px;
		background:url(need_icon/search.svg) no-repeat;
		background-position:8px 10px;
		background-size:17px 17px;
	}
	.ie input[type="search"] {
		background-image:url(need_icon/search.png);
	}
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-decoration {
	/*	-webkit-appearance:none; */
	}


/* #BUTTONS
================================================== */
	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		display:inline-block;
		color:rgb(255,255,255);
		background:rgb(55,100,140);
		border:none;
		margin-bottom:20px;
		padding:8px 10px;
		text-decoration:none;
		text-transform:none;
		cursor:pointer;
		
		-webkit-appearance:none;
		-moz-appearance:none;
		
		-webkit-border-radius:3px;
		border-radius:3px;
		
		-webkit-transition:all 200ms linear;
		-moz-transition:all 200ms linear;
		-ms-transition:all 200ms linear;
		-o-transition:all 200ms linear;
		transition:all 200ms linear;
		
		-webkit-touch-callout:none;
		-webkit-user-select:none;
		-khtml-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none;
	}
	
	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		background:rgb(130,130,130);
	}
	
	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		background:rgb(80,80,80);
	}
	
	button[disabled],
	html input[disabled] {
		cursor:default;
		
		filter:alpha(opacity=50);
		-moz-opacity:0.5;
		-khtml-opacity:0.5;
		 opacity:0.5;
	}
	.button-group:after {
		content:".";
		visibility:hidden;
		display:block;
		height:0;
		clear:both;
	}
	.button-group button,
	.button-group .button,
	.button-group input[type="submit"],
	.button-group input[type="reset"],
	.button-group input[type="button"]  {
		float:left;
		margin-right:10px;
		
		filter:alpha(opacity=50);
		-moz-opacity:0.5;
		-khtml-opacity:0.5;
		 opacity:0.5;
	}
	.button p,
	button p {
		margin:0;
	}
	::-moz-focus-inner {
		border:0;
		padding:0;
	}
	

/* #TOOLTIP
================================================== */
	.tooltip {
		position:relative;
	}
	.tooltip:before, .tooltip:after {
		position:absolute;
		left:50%;
		bottom:200%;
		display:block;
		color:rgb(30,30,30);
		transition:All 0.5s ease;
		-webkit-transition:All 400 ease;
		-moz-transition:All 400 ease;
		-o-transition:All 400 ease;
		margin-left:-100px;
		
		filter:alpha(opacity=0);
		-moz-opacity:0.0;
		-khtml-opacity:0.0;
		 opacity:0.0;
	}
	.tooltip:before {
		content:attr(title);
		border:solid 1px rgb(55,100,140);
		background:rgb(255,255,255);
		width:200px;
		text-align:center;
		z-index:2;
		font-size:13px;
		line-height:18px;
		padding:5px;
	}
	.tooltip:after {
		content:'\25c6';
		margin-left:0;
		margin-top:10px;
		width:15px;
		height:15px;
		z-index:1;
		line-height:28px;
		color:rgb(55,100,140);
		font-size:20px;
	}
	.tooltip:hover:before, .tooltip:hover:after {
		bottom:125%;
		filter:alpha(opacity=100);
		-moz-opacity:1.0;
		-khtml-opacity:1.0;
		 opacity:1.0;
	}
	.ie7 .tooltip:before, .ie7 .tooltip:after,
	.ie8 .tooltip:before, .ie8 .tooltip:after {
		display:none !important;
	}


/* #MISC AND HELPERS
================================================== */
	.bottom-remove, .remove-bottom {
		margin-bottom:0 !important;
	}
	.bottom-half, .half-bottom {
		margin-bottom:10px !important;
	}
	.bottom-add, .add-bottom {
		margin-bottom:20px !important;
	}
	.vertical-align {
		position:relative;
		top:50%;
		-webkit-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		transform:translateY(-50%);
	}
	.center-block {
		display:block;
		margin-right:auto;
		margin-left:auto;
	}
	.display-inline {
		display:inline !important;
	}
	.display-block {
		display:block;
	}
	.float-right {
		float:right !important;
	}
	.float-left {
		float:left !important;
	}
	.hide, .hidden {
		display:none !important;
		visibility:hidden !important;
	}
	.show {
		display:block !important;
	}
	.invisible {
		visibility:hidden;
	}
	.position-absolute {
		position:absolute;
	}
	.position-fixed, .fixed {
		position:fixed;
	}
	.remove-scroll, .disable-scroll, .no-scroll {
		height:100%;
		max-height:100%;
		overflow:hidden;
	}

/* close closer */
	.close {
		position:relative;
		width:15px;
		height:15px;
		float:right;
		background:url(need_icon/close.svg);
		cursor:pointer;
		
		filter:alpha(opacity=20);
		-moz-opacity:0.2;
		-khtml-opacity:0.2;
		 opacity:0.2;
	}
	.close:hover,
	.close:focus {
		filter:alpha(opacity=50);
		-moz-opacity:0.5;
		-khtml-opacity:0.5;
		 opacity:0.5;
	}
	
/* opacitys */
	.opacity75 {
		filter:alpha(opacity=75);
		-moz-opacity:0.75;
		-khtml-opacity:0.75;
		 opacity:0.75;
	}
	.opacity5, .transparent {
		filter:alpha(opacity=50);
		-moz-opacity:0.5;
		-khtml-opacity:0.5;
		 opacity:0.5;
	}
	.opacity25 {
		filter:alpha(opacity=25);
		-moz-opacity:0.25;
		-khtml-opacity:0.25;
		 opacity:0.25;
	}

/* smooth */
	.smooth {
		-webkit-transition:all 0.2s ease;
		-moz-transition:all 0.2s ease;
		-ms-transition:all 0.2s ease;
		-o-transition:all 0.2s ease;
	}

	.smooth5 {
		-webkit-transition:all 0.5s ease;
		-moz-transition:all 0.5s ease;
		-ms-transition:all 0.5s ease;
		-o-transition:all 0.5s ease;
	}

	.smooth10 {
		-webkit-transition:all 1.5s ease;
		-moz-transition:all 1.5s ease;
		-ms-transition:all 1.5s ease;
		-o-transition:all 1.5s ease;
		-webkit-transition-delay: 0.8s; /* Safari */
		transition-delay: 0.8s;
	}


/* #WARNINGS AND COLORS
================================================== */
	.error, .success, .warning {
		display:block;
		padding:0.7em 1em;
		margin-bottom:20px;
		margin-top:10px;
		border:1px solid;
		-webkit-border-radius:3px;
		border-radius:3px;
	}
	.error.display-inline, .success.display-inline, .warning.display-inline {
		padding:0.2em 0.5em;
	}
	.error {
		background:rgba(245,055,000,0.2);
	}
	.warning {
		background:rgba(245,145,000,0.2);
	}
	.success {
		background:rgba(080,190,060,0.2);
	}
	.red, .error {
		color:rgb(245,055,000);
	}
	.green, .success {
		color:rgb(080,190,060);
	}
	.orange, .warning {
		color:rgb(245,145,000);
	}
	.yellow {
		color:rgb(245,200,030);
	}
	.blue {
		color:rgb(055,100,140);
	}
	.red-border, .green-border, .orange-border, .yellow-border, .blue-border {
		border:1px solid;
	}
	.border-round {
		-webkit-border-radius:3px;
		border-radius:3px;
	}
	.red-border {
		border-color:rgb(245,055,000);
	}
	.green-border {
		border-color:rgb(080,190,060);
	}
	.orange-border {
		border-color:rgb(245,145,000);
	}
	.yellow-border {
		border-color:rgb(245,200,030);
	}
	.blue-border {
		border-color:rgb(055,100,140);
	}
	
	
/* #DIMENSIONS AND POSITIONS
========================================================================== */
	.full-width, .width-100, .width-full {
		width:100% !important;
	}
	.width-75 {
		width:75%;
	}
	.width-66, .width-twothird {
		width:66.6666666666667%;
	}
	.width-50 {
		width:50%;
	}
	.width-33, .width-onethird {
		width:33.333333333332%;
	}
	.width-25 {
		width:25%;
	}
	.width-20 {
		width:20%;
	}

/* pushings */
	.push-right {
		float:right;
	}
		.push-right:after, {
			content:".";
			visibility:hidden;
			display:block;
			height:0;
			clear:both;
		}
	.push-75 {
		margin-left:75%;
	}
	.push-66, .push-twothird {
		margin-left:66.6666666666667%;
	}
	.push-50 {
		margin-left:50%;
	}
	.push-33, .push-onethird {
		margin-left:33.333333333332%;
	}
	.push-25 {
		margin-left:25%;
	}
	.push-20 {
		margin-left:20%;
	}

/* #CLEARFIX
========================================================================== */
	.clearfix:before,
	.clearfix:after {
		content:".";
		visibility:hidden;
		display:block;
		height:0;
		clear:both;
	}
	.clear-after  {
	}
    .clear {
		clear:both;
		display:block;
		overflow:hidden;
		visibility:hidden;
		width:0;
		height:0;
    }


/* #BROWSER ELEMENTS (Placeholder, Selection, Scrollbar)
================================================== */
	::selection {
		color:rgb(255,255,255);
		background:rgb(055,100,140);
	}
	::-moz-selection {
		color:rgb(255,255,255);
		background:rgb(055,100,140);
	}


/* placeholder */
	::-webkit-input-placeholder {
		color:rgb(130,130,130);
		opacity:1;
		filter:alpha(opacity=100);
	}
	::-moz-placeholder{
		color:rgb(130,130,130);
		filter:alpha(opacity=100);
		-moz-opacity:1;
		opacity:1;
	}
	:-ms-input-placeholder {
		color:rgb(130,130,130);
		filter:alpha(opacity=100);
		opacity:1;
	}
 

/* scrollbar */
	::-webkit-scrollbar {}
	::-webkit-scrollbar-button {}
	::-webkit-scrollbar-track {}
	::-webkit-scrollbar-track-piece {}
	::-webkit-scrollbar-thumb {}
	::-webkit-scrollbar-corner {}
	::-webkit-resizer {}


/* #NAVIGATIONS
================================================== */
	nav {
		position:relative;
		display:block;
	}
	nav.nav-mobile {
		display:none;
	}
	nav ul {
		position:relative;
		list-style:none;
		padding:0;
		margin:0;
	}
	nav ul li {
		position:relative;
		margin:0;
	}
	nav ul li a, nav ul li a:link, nav ul li a:visited {
		display:block;
		color:rgb(055,100,140);
		text-decoration:none;
		margin:0;
		padding:10px 15px;
	}
	nav ul li:hover a {
		background:rgb(055,100,140);
		color:rgb(255,255,255) !important;
	}

/* subnavi */
	nav ul li ul {
	}
	nav ul li ul li {
	}
	nav ul li ul li a {
	}
	nav ul li ul li:hover a {
		background:rgb(130,130,130);
	}

/* navigations syles */

/* horizontal */
	nav.nav-horizontal {
		margin-bottom:20px;
	}
	nav.nav-horizontal ul {
	}
	nav.nav-horizontal ul.topnav>li {
		float:left;
	}

	/* subnavi */
	nav.nav-horizontal ul li ul.subnav {
		position:absolute;
		min-width:170px;
		max-width:300px;
		display:none;
	}
	nav.nav-horizontal ul li:hover ul.subnav {
		display:block;
	}

/* vertical */
	nav.nav-vertical {
		margin-bottom:20px;
	}
	nav.nav-vertical ul {
	}
	nav.nav-vertical ul.topnav>li {
	}

	/* subnavi */
	nav.nav-vertical ul li ul.subnav {
	}
	nav.nav-vertical ul li ul.subnav a {
		padding-left:30px;
	}
	nav.nav-vertical ul.topnav li:hover ul.subnav {
	}
	
/* popout */
	nav.nav-vertical.popout-left ul li ul.subnav,
	nav.nav-vertical.popout-right ul li ul.subnav {
		position:absolute;
		top:0;
		width:100%;
		display:none;
	}
	
	nav.popout-left ul li ul.subnav {
		left:0;
		margin-left:-100%;
	}
	nav.popout-right ul li ul.subnav {
		right:0;
		margin-right:-100%;
	}
	nav.popout-left ul li:hover ul.subnav,
	nav.popout-right ul li:hover ul.subnav {
		display:block;
		
	}

    
/* #MOBILE MENU
================================================== */
	nav.nav-mobile {
		position:fixed;
		font-size:17px;
		line-height:27px;
		top:0;
		width:100%;
		background:rgb(255,255,255);
		height:100%;
		overflow:auto;
	}
	body.nav-mobile-fixed {
		padding-top:30px;
	}
	nav.nav-mobile.active {
		border-bottom:1px solid rgb(230,230,230);
	}
	nav.nav-mobile ul {
		display:none;
	}
	nav.nav-mobile ul li {
	}
	nav.nav-mobile ul li a {
	}
	nav.nav-mobile ul li a, nav.nav-mobile ul li a:link, nav.nav-mobile ul li a:visited {
	}
	nav.nav-mobile ul li:hover a {
	}

/* subnavi */
	nav.nav-mobile ul li ul {
	}	
	nav.nav-mobile ul li ul li {
	}
	nav.nav-mobile ul li ul li a {
		padding-left:30px;
	}
	nav.nav-mobile ul li ul li:hover a {
	}

/* mobilenavi header */
	nav.nav-mobile .nav-mobile-header {
		position:relative;
		width:100%;
		height:40px;
		border-bottom:1px solid rgb(230,230,230);
	}
	.nav-mobile-icon {
		position:fixed;
		top:0;
		right:0;
		width:40px;
		height:40px;
		background:url(need_icon/navicon-round.svg) no-repeat 5px 5px;
		background-size:30px 30px;
		cursor:pointer;
		z-index:500000;
	}
	.nav-mobile-icon.left {
		left:0px;
	}
	.nav-mobile-header p {
		text-align:center;
		padding-top:7px;
		margin:0;
	}

/* fixed */
	nav.nav-mobile.fixed {
		position:fixed;
		background:rgb(255,255,255);
		z-index:50000;
	}
	.fixedmobile nav .page-wrapper {
		padding-top:60px;
	}

/* vertical navigation */
	nav.nav-mobile.nav-hozizontal {
		width:100%;
	}
/* vertical navigation */
	nav.nav-mobile.nav-vertical {
		position:fixed;
		top:0;
		right:0;
		height:100%;
		z-index:0;
		background:rgb(255,255,255);
	}
	nav.nav-mobile.nav-vertical.active {
	}
	nav.nav-mobile.nav-vertical.left {
		left:0;
	}

/* topnavi */
	nav.nav-mobile.nav-vertical ul {
		display:block;
	}
	nav.nav-mobile.nav-vertical ul li {
	}
	nav.nav-mobile.nav-vertical ul li a {
	}
	nav.nav-mobile.nav-vertical ul li a, nav.nav-mobile.nav-vertical ul li a:link, nav.nav-mobile.nav-vertical ul li a:visited {
	}
	nav.nav-mobile.nav-vertical ul li:hover a {
	}

/* subnavi */
	nav.nav-mobile.nav-vertical ul li ul {
	}	
	nav.nav-mobile.nav-vertical ul li ul li {
	}
	nav.nav-mobile.nav-vertical ul li ul li a {
		padding-left:30px;
	}
	nav.nav-mobile.nav-vertical ul li ul li:hover a {
	}


/* #BROWSERWARNING
================================================== */
	.oldBrowser {
		width:100%;
		padding:8px;
		text-align:center;
		background-color:#E50;
		display:none;
	}
	.ie7 .oldBrowser {
		display:block;
		display:block !important;
	}
	.oldBrowser p {
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif !important;
		font-weight:bold !important;
		margin:0 !important;
		color:#FFF !important;
	}
	.oldBrowser p a {
		color:#FFF !important;
		text-decoration:underline !important;
	}
	.oldBrowser p a:hover {
		color:#DDD !important;
	}


/* #MEDIA QUERIES
================================================== */
/* large screens */ 
@media screen and (min-width:75em) {
	
}

/* ipad landscape */
@media handheld and (max-width:65em), screen and (max-width:65em) {
	.page-boxed .page-wrapper,
	.page-boxed .page-footer {
		margin:0 auto;
		-webkit-box-shadow:none;
		box-shadow:none;
		width:100%;
	}
	
}


/* ipad portrait */
@media only screen and (max-width:50em) {
	
}

/* mobile devices landscape - style change for mobile */
@media only screen and (max-width:42em) {
	nav {
		display:none;
	}
	nav.nav-mobile {
		display:block;
	}
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="phone"],
	input[type="tel"],
	input[type="number"],
	input[type="datetime"],
	input[type="date"],
	input[type="search"],
	input[type="datetime-local"],
	select[multiple="multiple"],
	textarea, 
	select  {
		min-width:auto;
		width:100%;
		max-width:100%;
	}
}

/* large screens 380 - e.g. mobile devices portrait */
@media only screen and (max-width:24em) {
	
}


/* #THE GRID
================================================== */
	.container {
		width:100%;
		max-width:1140px;
		margin:0 auto;
		padding:0 20px;
	}
	.container:after {
		content:"";
		display:table;
		clear:both;
	}
	.row {
	}
	.row:before,
	.row:after {
		content:'\0020';
		display:block;
		overflow:hidden;
		visibility:hidden;
		width:0;
		height:0;
	}
	.row:after {
		clear:both;
	}
	.row {
		zoom:1;
	}
/* Content Columns */
	[class*='col-'] {
		float:left;
		padding-right:20px;
	}
	
	[class*='col-']:last-of-type {
		padding-right:0px;
	}

    /* Base Grid */
	.col-1					{	width:8.33333%;}
	.col-2					{	width:16.66666%;}
	.col-3					{	width:25%;}
	.col-4, .col-third	{	width:33.33333%;}
	.col-5 					{	width:41.66666%;}
	.col-6, .col-half 	{	width:50%;}
	.col-7 					{	width:58.33333%;	}
	.col-8 					{	width:66.66666%;}
	.col-9 					{	width:75%;}
	.col-10 				{	width:83.33333%;}
	.col-11 				{	width:91.66666%;}
	.col-12, .col-full 	{	width:100%;}
	

    /* Offsets */
	.col-push-1					{	margin-left:8.33333%;}
	.col-push-2					{	margin-left:16.66666%;}
	.col-push-3					{	margin-left:25%;}
	.col-push-4, .col-push-third	{	margin-left:33.33333%;}
	.col-push-5 					{	margin-left:41.66666%;}
	.col-push-6, .col-push-half 	{	margin-left:50%;}
	.col-push-7 					{	margin-left:58.33333%;	}
	.col-push-8 					{	margin-left:66.66666%;}
	.col-push-9 					{	margin-left:75%;}
	.col-push-10 					{	margin-left:83.33333%;}
	.col-push-11 					{	margin-left:91.66666%;}
	
    .row:before,
    .row:after {
      content:'\0020';
      display:block;
      overflow:hidden;
      visibility:hidden;
      width:0;
      height:0; }
    .row:after {
      clear:both; }
    .row {
      zoom:1;
	 }

/* large screens 1200 */ 
@media screen and (min-width:75em) {
	
}

/* large screens 1040 - e.g. ipad landscape */
@media handheld and (max-width:65em), screen and (max-width:65em) {
	
}


/* large screens 800 - e.g. ipad portrait */
@media only screen and (max-width:50em) {
	
}

/* large screens 670 - e.g. mobile devices landscape - style change for mobile */
@media only screen and (max-width:42em) {
	.container {
		width:100%;
		min-width:0;
		margin-left:0px;
		margin-right:0px;
		padding-left:0px;
		padding-right:0px;
	}
	[class*='col-'] {
		width:auto;
		float:none;
		margin-left:0px;
		margin-right:0px;
		margin-top:10px;
		margin-bottom:10px;
		padding-left:20px;
		padding-right:20px;
	}
	[class*='col-']:last-of-type {
		padding-right:20px;
	}
	
	[class*='col-'] .row [class*='col-'] {
		padding-left:0;
		padding-right:0;
	}
}

/* large screens 380 - e.g. mobile devices portrait */
@media only screen and (max-width:24em) {
	
}




/* #PRINT
================================================== */
@media print {
	* {
		background:transparent !important;
		text-shadow:none !important;
		box-shadow:none !important;
	}
	a, a:visited {
		text-decoration:underline;
	}
	a[href]:after,
	abbr[title]:after {
		color:rgb(055,100,140);
	}
	a[href]:after {
		content:"URL:(" attr(href) ")";
	}
	abbr[title]:after {
		content:" «" attr(title) "»";
	}
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre {
		border:1px solid rgb(130,130,130);
		page-break-inside:avoid;
	}
	blockquote {
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,
	img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
		height:auto;
	}
	p, h2, h3 {
		orphans:3;
		widows:3;
	}
	h1, h2, h3 {
		page-break-after:avoid;
	}
	select {
		background:rgb(255,255,255) !important;
	}
	.print-hidden, .print-hide
	.navbar, nav {
		display:none;
	}
	.print-display, .print-show {
		display:block;
	}
	.table td,
	.table th {
		background-color:rgb(255,255,255) !important;
	}
	.label {
		border:1px solid rgb(0,0,0);
	}
	.table {
		border-collapse:collapse !important;
	}
	.table-bordered th,
	.table-bordered td {
		border:1px solid rgb(230,230,230) !important;
	}
}